USE [master]
GO
/****** Object:  Database [EWalletAgileDb]    Script Date: 9/17/2026 2:42:22 PM ******/
CREATE DATABASE [EWalletAgileDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EWalletAgileDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EWalletAgileDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EWalletAgileDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EWalletAgileDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EWalletAgileDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EWalletAgileDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/17/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 9/17/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccounts]    Script Date: 9/17/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccounts](
	[BankAccountId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BankName] [nvarchar](max) NOT NULL,
	[AccountNumber] [nvarchar](max) NOT NULL,
	[AccountHolderName] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[LinkedAt] [datetime2](7) NOT NULL,
	[UnlinkedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_BankAccounts] PRIMARY KEY CLUSTERED 
(
	[BankAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 9/17/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BillType] [nvarchar](max) NOT NULL,
	[CustomerCode] [nvarchar](max) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PaidAt] [datetime2](7) NULL,
	[BillingPeriod] [nvarchar](max) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[TransactionId] [int] NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fees]    Script Date: 9/17/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fees](
	[FeeId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionType] [nvarchar](max) NOT NULL,
	[FeeType] [nvarchar](max) NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[MaxFee] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Fees] PRIMARY KEY CLUSTERED 
(
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 9/17/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NULL,
	[ReceiverId] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[TransactionCode] [nvarchar](450) NOT NULL,
	[RelatedTransactionId] [int] NULL,
	[FeeAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/17/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[PinCode] [nvarchar](6) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[DailyLimit] [decimal](18, 2) NOT NULL,
	[MaximumBalance] [decimal](18, 2) NOT NULL,
	[TransactionLimit] [decimal](18, 2) NOT NULL,
	[FailedLoginCount] [int] NOT NULL,
	[LockedUntil] [datetime2](7) NULL,
	[PasswordSalt] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[WalletStatus] [nvarchar](max) NOT NULL,
	[WalletStatusNote] [nvarchar](max) NULL,
	[WalletStatusUpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260709071721_InitialCreate', N'8.0.28')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260711045744_UpgradeWalletFeatures', N'8.0.28')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260806061856_UpdateUserColumns', N'8.0.28')
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminId], [Username], [Password], [FullName], [Role]) VALUES (1, N'admin', N'123456', N'Quản trị viên', N'Admin')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[BankAccounts] ON 

INSERT [dbo].[BankAccounts] ([BankAccountId], [UserId], [BankName], [AccountNumber], [AccountHolderName], [Status], [LinkedAt], [UnlinkedAt]) VALUES (1, 1, N'Vietcombank', N'10283298761', N'Đỗ Hoàng Long', N'Unlinked', CAST(N'2026-08-06T14:50:45.4514811' AS DateTime2), CAST(N'2026-08-06T16:13:05.9454653' AS DateTime2))
INSERT [dbo].[BankAccounts] ([BankAccountId], [UserId], [BankName], [AccountNumber], [AccountHolderName], [Status], [LinkedAt], [UnlinkedAt]) VALUES (2, 4, N'Vietcombank', N'10283298761', N'Đỗ Hoàng Long', N'Unlinked', CAST(N'2026-08-06T15:03:22.9169401' AS DateTime2), CAST(N'2026-08-06T15:03:35.7569174' AS DateTime2))
INSERT [dbo].[BankAccounts] ([BankAccountId], [UserId], [BankName], [AccountNumber], [AccountHolderName], [Status], [LinkedAt], [UnlinkedAt]) VALUES (3, 1, N'Vietcombank', N'10283298761', N'Đỗ Hoàng Long', N'Unlinked', CAST(N'2026-08-10T22:27:51.8878871' AS DateTime2), CAST(N'2026-08-10T23:16:43.3696743' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BankAccounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([BillId], [UserId], [BillType], [CustomerCode], [Amount], [Status], [PaidAt], [BillingPeriod], [CustomerName], [TransactionId]) VALUES (1, 1, N'Điện', N'EVN123456', CAST(350000.00 AS Decimal(18, 2)), N'Paid', CAST(N'2026-08-10T22:36:32.4830654' AS DateTime2), N'08/2026', N'Nguyễn Văn A', 6)
INSERT [dbo].[Bills] ([BillId], [UserId], [BillType], [CustomerCode], [Amount], [Status], [PaidAt], [BillingPeriod], [CustomerName], [TransactionId]) VALUES (2, 1, N'Internet', N'NET123456', CAST(250000.00 AS Decimal(18, 2)), N'Paid', CAST(N'2026-08-10T23:05:53.5405381' AS DateTime2), N'08/2026', N'Nguyễn Văn A', 7)
INSERT [dbo].[Bills] ([BillId], [UserId], [BillType], [CustomerCode], [Amount], [Status], [PaidAt], [BillingPeriod], [CustomerName], [TransactionId]) VALUES (3, 2, N'Nước', N'WATER123456', CAST(180000.00 AS Decimal(18, 2)), N'Paid', CAST(N'2026-08-10T23:26:52.8801814' AS DateTime2), N'08/2026', N'Nguyễn Văn A', 17)
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[Fees] ON 

INSERT [dbo].[Fees] ([FeeId], [TransactionType], [FeeType], [Value], [MaxFee], [IsActive], [UpdatedAt]) VALUES (1, N'Deposit', N'Percent', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Fees] ([FeeId], [TransactionType], [FeeType], [Value], [MaxFee], [IsActive], [UpdatedAt]) VALUES (2, N'Withdraw', N'Percent', CAST(1.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), 1, CAST(N'2026-09-13T05:14:10.6936449' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Fees] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionId], [SenderId], [ReceiverId], [Amount], [Type], [Description], [Status], [CreatedAt], [TransactionCode], [RelatedTransactionId], [FeeAmount]) VALUES (1, NULL, 1, CAST(100000.00 AS Decimal(18, 2)), N'Deposit', N'Nạp tiền vào ví', N'Success', CAST(N'2026-08-06T14:51:04.7165839' AS DateTime2), N'EW52576C0A8203', NULL, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Transactions] ([TransactionId], [SenderId], [ReceiverId], [Amount], [Type], [Description], [Status], [CreatedAt], [TransactionCode], [RelatedTransactionId], [FeeAmount]) VALUES (2, NULL, 4, CAST(1000000.00 AS Decimal(18, 2)), N'Deposit', N'Nạp tiền vào ví', N'Success', CAST(N'2026-08-06T15:02:26.4391117' AS DateTime2), N'EWCC0BAE270002', NULL, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Transactions] ([TransactionId], [SenderId], [ReceiverId], [Amount], [Type], [Description], [Status], [CreatedAt], [TransactionCode], [RelatedTransactionId], [FeeAmount]) VALUES (3, NULL, 4, CAST(2000000000000.00 AS Decimal(18, 2)), N'Deposit', N'Nạp tiền vào ví', N'Success', CAST(N'2026-08-06T15:02:35.4550022' AS DateTime2), N'EW5DB3B922E1D8', NULL, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_BankAccounts_UserId]    Script Date: 9/17/2026 2:42:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_BankAccounts_UserId] ON [dbo].[BankAccounts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bills_UserId]    Script Date: 9/17/2026 2:42:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bills_UserId] ON [dbo].[Bills]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_ReceiverId]    Script Date: 9/17/2026 2:42:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_ReceiverId] ON [dbo].[Transactions]
(
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_RelatedTransactionId]    Script Date: 9/17/2026 2:42:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_RelatedTransactionId] ON [dbo].[Transactions]
(
	[RelatedTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_SenderId]    Script Date: 9/17/2026 2:42:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_SenderId] ON [dbo].[Transactions]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transactions_TransactionCode]    Script Date: 9/17/2026 2:42:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Transactions_TransactionCode] ON [dbo].[Transactions]
(
	[TransactionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 9/17/2026 2:42:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Phone]    Script Date: 9/17/2026 2:42:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Phone] ON [dbo].[Users]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (N'') FOR [BillingPeriod]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (N'') FOR [CustomerName]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (N'') FOR [TransactionCode]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0.0)) FOR [FeeAmount]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0.0)) FOR [DailyLimit]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0.0)) FOR [MaximumBalance]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0.0)) FOR [TransactionLimit]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [FailedLoginCount]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [PasswordSalt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [WalletStatus]
GO
ALTER TABLE [dbo].[BankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_BankAccounts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BankAccounts] CHECK CONSTRAINT [FK_BankAccounts_Users_UserId]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Users_UserId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Transactions_RelatedTransactionId] FOREIGN KEY([RelatedTransactionId])
REFERENCES [dbo].[Transactions] ([TransactionId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Transactions_RelatedTransactionId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users_ReceiverId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users_SenderId]
GO
USE [master]
GO
